# Dependency directories
node_modules/

# Vite output & cache
dist/
dist-ssr/
.vite/
*.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
*.log

# Editor directories and files
.idea/
.vscode/
.DS_Store
Thumbs.db
